<h1>Edit Patient Encounter</h1>

<br>
<br>

<%= form_for :encounter, url: patient_encounter_path(params[:patient_id], @encounter), method: :patch do |f| %>

<% if @encounter.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@encounter.errors.count, "error") %> blocked this encounter from being saved:
    </h2>
    <ul>
      <% @encounter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <br>
  <br>
<% end %>

<div class="patient_add">
  <%= f.label :visit_number %>
  <br/>
  <%= f.text_field :visit_number %>
</div>

<div class="patient_add">
  <%= f.label :admitted_at %>
  <br/>
  <%= f.date_field :admitted_at %>
</div>

<div class="patient_add">
  <%= f.label :discharged_at %>
  <br/>
  <%= f.date_field :discharged_at %>
</div>

<div class="patient_add">
  <%= f.label :location %>
  <br/>
  <%= f.text_field :location %>
</div>

<div class="patient_add">
  <%= f.label :room %>
  <br/>
  <%= f.text_field :room %>
</div>

<div class="patient_add">
  <%= f.label :bed %>
  <br/>
  <%= f.text_field :bed %>
</div>

<br>

<%= f.submit %> |
<%= link_to 'Cancel', patient_path(params[:patient_id]) %>

<% end %>